{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">퀴즈 보드</li>
{% endblock %}

{% block content %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>보드</th>
          <th>포스트</th>
          <th>토픽</th>
          <th>최근 포스트</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td>
                <a href="{% url 'board_topics' board.pk %}" >{{ board.name }}</a>
              <small class="text-muted d-block">{{ board.description }}</small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}