{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        {{ form.user.username }} 님, 비밀번호 변경
    {% else %}
        비밀번호 재설정
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="card-title">{{ form.user.username }} 님, 비밀번호 변경</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">비밀번호 변경</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">비밀번호 재설정</h3>
                        <div class="alert alert-danger" role="alert">
                            잘못된 암호 재설정 링크를 클릭한 것 같습니다. 다시 시도해보십시오<br />(It looks like you clicked on an invalid password reset link. Please try again.)
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">새로운 비밀번호 재설정 링크 발송</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}